<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
	<title>Best-Burgers!</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet">
	<script src="/assets/burgers.js"></script>
</head>

<body>
	<div class="container">
		<div class="container-head">
			<img src="/assets/img/burger.png" id="peeps">
			<h1>Best Burger Ever!!</h1>
			<form class="create-form">
				<textarea id="Burger-name" name="name" rows="2" cols="35" autofocus></textarea>
				<button id="btnSubmit" type="submit"><i style="color: #ffffff" class="fas fa-shopping-basket fa-4x"></i></button>
			</form>
		</div>
	
	{{{ body }}}
	</div>
</body>

</html>